<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DominosTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>930C22861F33763600CB4FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>930C229A1F33763600CB4FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F1F3C01F47370100AA0600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
